<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Get Started</title>
</head>
<body>
    
    <div id="app1">
        <h1 align="center">Getting started with {{message}}</h1>
    </div>

    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>
</html>